/* custom font  */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

/* common css  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fb2e86;
  --white-100-color: #fff6fb;
  --white-200-color: #f1f0ff;
  --white-1300-color: #eeeffb;
  --magenta-color: #7e33e0;
  --blue-color: #2f1ac4;
  --green-color: #08d15f;
  --dark-color: #000000;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
.primary-btn {
  padding: 10px 32px;
  /* border: 1px solid #fff; */
  font-size: 12px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  color: #303030;
  transition: 0.5s all;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.primary-btn::before {
  position: absolute;
  content: "";
  opacity: 1;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* color: #303030; */
  clip-path: inset(0 0 0 0);
  /* background: #fff; */
  transition: 0.5s all;
}
.primary-btn:hover:before {
  clip-path: inset(0 0 0 100%);
}
.primary-btn:hover {
  color: red;
}
/* banner section start */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 85%;
  width: 200px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  background: transparent;
}
.swiper-pagination-bullet-active {
  background: #fff;
}
.banner-btn {
  border: 1px solid #fff;
  color: #303030;
}
.banner-btn::before {
  color: #303030;
  background: #fff;
}
.banner-btn:hover:before {
  clip-path: inset(0 0 0 100%);
}
.banner-btn:hover {
  color: #fff;
}
/* banner section end */
